mat-card {
    width: 100%;
    margin: 2em auto;
    text-align: center;
    height: 38vh;
    margin-top: 20px;
  }
  
  mat-form-field {
    display: block;
    margin-top: 20px;
  }

  .center {
    position: relative;
  }
  .center-div{
    margin: auto;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 90%;  /* Mozilla*/
    margin-top: 60px;
  }

  .checkbox-cust {
    margin-bottom: 10px;
  }